@import "../../../color-variables.scss";

// =================== MAIN SECTION ===================
.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(250deg, $primary-blue, $light-green);
  padding: 150px 20px;
  width: 100%;

  .years-foundation {
    position: relative;
    padding: 15px 20px; // Espaço interno
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    color: $white;
    box-shadow:
      0 0 2px 1px rgba(0, 0, 0, 0.1),
      0 0 3px 1px $light-green,
      0 0 4px 1px $gray-100;
  }

  .title {
    width: 100%;
    max-width: 800px;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    background: -webkit-linear-gradient(250deg, $light-green, $gray-100);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-size: 20px;
    font-weight: 300;
    color: $white;
    text-align: center;
  }
}

// =================== VIRTUAL AGENCY ===================
.virtual-agency-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background: $light-blue;
  padding: 50px 20px;

  .virtual-agency {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: $gray-700;

    h2 {
      margin-bottom: 15px;
    }

    p {
      font-weight: 400;
    }
  }

  .services {
    display: flex;
    gap: 40px;
    color: $gray-700;

    .service-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-decoration: none;
        transition: transform 0.3s ease, color 0.3s ease;
      }

      h3,
      p {
        color: $gray-700;
      }

      .material-icons {
        font-size: 48px;
        color: $primary-blue;
        transition: transform 0.3s ease, color 0.3s ease;
      }

      .material-icons:hover {
        color: $dark-blue;
        transform: scale(1.2);
        cursor: pointer;
      }

      .material-symbols-outlined {
        font-variation-settings:
          'FILL' 0,
          'wght' 500,
          'GRAD' 0,
          'opsz' 24;
      }
    }
  }
}

// =================== NEWS SECTION ===================
.news-section {
  padding: 3rem 2rem;
  background: $blue-100;
  color: $gray-800;

  .news-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 1.5rem 0;

    a {
      text-decoration: none;
      color: $medium-blue;
      font-weight: bold;

      &:hover {
        color: $primary-blue;
      }
    }
  }

  .carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;

    .carousel-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      transition: transform 0.5s ease-in-out;
    }

    .carousel-item {
      flex: 0 0 calc((100% - 2 * 1.5rem) / 3);

      .news-card {
        width: 100%;
        padding: 20px;
        text-align: center;
        overflow: hidden;
        background-color: $light-blue;
        border-radius: 10px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);

        img {
          width: 100%;
          height: auto;
          border-radius: 8px;
          transition: box-shadow 0.3s ease, transform 0.3s ease;

          &:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            transform: scale(1.05);
          }
        }

        h3 {
          font-size: 18px;
          margin: 10px 0;
        }

        p {
          font-size: 14px;
          color: $gray-700;
          margin-bottom: 10px;
        }

        .read-more {
          color: $primary-blue;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            color: $light-green;
          }
        }
      }
    }

    .carousel-control {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      font-size: 24px;
      color: $primary-blue;
      cursor: pointer;

      &.prev {
        left: 0.5rem;
      }

      &.next {
        right: 0.5rem;
      }
    }
  }

  // ---- Responsive ----
  @media (max-width: 1024px) {
    .carousel-item {
      flex: 0 0 calc((100% - 1.5rem) / 2);
    }
  }

  @media (max-width: 768px) {
    .carousel-wrapper {
      gap: 1rem;
    }

    .carousel-item {
      flex: 0 0 100%;
    }

    .news-header {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
  }

  @media (max-width: 480px) {
    .carousel-item {
      min-width: 100%;
    }
  }
}

// =================== GLOBAL RESPONSIVE ===================
// Tablets
@media (max-width: 1024px) {
  .main-section {
    padding: 100px 20px;

    .title {
      font-size: 36px;
      width: 100%;
    }

    p {
      font-size: 18px;
    }
  }

  .services {
    flex-direction: column;
    gap: 20px;
  }
}

// Smartphones
@media (max-width: 768px) {
  .main-section {
    padding: 80px 15px;

    .title {
      font-size: 28px;
    }

    p {
      font-size: 16px;
    }
  }

  .virtual-agency-section {
    gap: 20px;

    .virtual-agency {
      font-size: 16px;
    }
  }

  .services {
    flex-direction: column;
    gap: 15px;

    .service-item {
      gap: 8px;
      color: red;
      flex-direction: column;

      .material-icons {
        font-size: 36px;
      }

      h3 {
        font-size: 16px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}