<app-header></app-header>
<main>
  <section class="main-section">
    <div class="years-foundation">
      <p>63 anos servindo São João do Soter</p>
    </div>
    <div>
      <h1 class="title">
        Serviço Autônomo de Água e Esgoto de São João do Soter - SAAE
      </h1>
    </div>
    <p>Promovendo mais saúde e qualidade de vida pra população soterense.</p>

  </section>
  <section class="virtual-agency-section">
    <div class="virtual-agency">
      <h2>Agência Virtual</h2>
      <p>Acesse nossos serviços online de forma rápida e segura</p>
    </div>
    <div class="services">
      <div class="service-item">
        <a href="#">
          <span class="material-icons icon">request_page</span>
          <h3>Segunda Via</h3>
          <p>Emita a segunda via da sua conta</p>
        </a>

      </div>

      <div class="service-item">
        <a href="#">
          <span class="material-icons">water_damage</span>
          <h3>Nova Ligação</h3>
          <p>Solicite uma nova ligação de água</p>
        </a>

      </div>

      <div class="service-item">
        <a href="#">
          <span class="material-icons">clean_hands</span>
          <h3>Vazamentos</h3>
          <p>Informe vazamento na sua rua</p>
        </a>

      </div>

      <div class="service-item">
        <a href="#">
          <span class="material-icons">build</span>
          <h3>Religação</h3>
          <p>Solicite a religação do fornecimento</p>
        </a>

      </div>
    </div>
  </section>
</main>