<div class="footer">
  <div class="content-items">
    <div class="header-title">
      <span class="material-icons icon">water_drop</span>
      <h2>Sobre o SAAE</h2>

    </div>
    <p>Há 63 anos cuidando do saneamento e abastecimento de água de São João do Soter, garantindo qualidade de vida e
      desenvolvimento sustentável para nossa comunidade.</p>
    <div class="data-footer-family">
      <div class="data-family">
        <span class="material-symbols-outlined thin-icon thin-span">family_group</span>
        <span class="thin-span"> 50k+ famílias</span>
      </div>
      <div class="data-family">
        <span class="material-symbols-outlined thin-icon thin-span">
          water_medium
        </span>
        <span class="thin-span"> Água Tratada</span>
      </div>

    </div>
  </div>
  <div class="content-items">
    <div class="header-title">
      <span class="material-icons icon">contact_mail</span>
      <h2>Contato</h2>
    </div>

    <!--LOCALIZAÇÃO-->
    <div class="wrapp">
      <a class="link-item" href="#">
        <div class="data-container">
          <div class="icon-wrap">
            <span class="material-symbols-outlined thin-icon location">location_on</span>
          </div>
          <div class="text-wrap">
            <p class="thin-blue">Rua Grande, s/n, Centro</p>
            <span class="thin-blue thin-span ">São João do Soter-MA</span>
          </div>
        </div>
      </a>

      <!--WHATSAPP-->
      <a class="link-item" href="#">
        <div class="data-container">
          <div class="icon-wrap">
            <i class="fab fa-whatsapp whatsapp"></i>
          </div>
          <div class="text-wrap">
            <p>(99) 985075753</p>
            <span class="thin-span">Whatsapp Oficial</span>
          </div>
        </div>
      </a>

      <!--EMAIL-->
      <a class="link-item" href="#">
        <div class="data-container">
          <div class="icon-wrap">
            <span class="material-symbols-outlined thin-icon email">stacked_email</span>
          </div>
          <div class="text-wrap">
            <p class="thin-orange">{{ 'contato@gmail.com' }}</p>
            <span class="thin-orange thin-span ">E-mail oficial</span>
          </div>
        </div>
      </a>

      <!--ABERTO-->

      <div class="data-container">
        <div class="icon-wrap">
          <span class="material-symbols-outlined thin-icon clock">share_eta</span>
        </div>
        <div class="text-wrap">
          <p class="thin-orange">Segunda a Sexta</p>
          <span class="thin-orange thin-span ">07h às 17h</span>
        </div>
      </div>

    </div>


  </div>

  <!--LINKS RAPIDOS-->
  <div class="content-items links-rapidos">
    <div class="header-title">
      <span class="material-icons icon">share</span>
      <h2>Links Rápidos</h2>
    </div>

    <div class="wrapp-links">
      <a class="link-item" href="#">
        <span class="material-symbols-outlined thin-icon">arrow_forward_ios</span>
        Nova Ligação
      </a>
      <a class="link-item" href="#">
        <span class="material-symbols-outlined thin-icon">arrow_forward_ios</span>
        Religação
      </a>
      <a class="link-item" href="#">
        <span class="material-symbols-outlined thin-icon">arrow_forward_ios</span>
        Reportar Vazamento
      </a>
      <a class="link-item" href="#">
        <span class="material-symbols-outlined thin-icon">arrow_forward_ios</span>
        Notícias
      </a>
      <a class="link-item" href="#">
        <span class="material-symbols-outlined thin-icon">arrow_forward_ios</span>
        Fale Conosco
      </a>
    </div>
  </div>
  <!--END LINKS RAPIDOS-->

  <!--REDES SOCIAIS-->
  <div class="content-items redes-sociais">
    <div class="header-title">
      <span class="material-symbols-outlined icon">thumbs_up_double</span>
      <h2>Redes Sociais</h2>
    </div>
    <div class="social-grid">
      <a class="link-item facebook" href="#"><i class="fab fa-facebook-f"></i></a>
      <a class="link-item instagram" href="#"><i class="fab fa-instagram"></i></a>
      <a class="link-item youtube" href="#"><i class="fab fa-youtube"></i></a>
      <a class="link-item twitter" href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <a class="segunda-via" href="#">
      <span class="material-symbols-outlined icon">water_drop</span>
      Segunda Via
      <span class="material-symbols-outlined icon">swipe_up</span>
    </a>
  </div>

  <!--END REDES SOCIAIS-->



</div>
<div class="footer-wrapp">
  <div class="footer-direitos-reservado">
    <p>© 2025 SAAE Caxias. Todos os direitos reservados.</p>
    <div class="footer-links">
      <a href="#">Privacidade</a> |
      <a href="#">Termos de Uso</a> |
      <a href="#">Acessibilidade</a>
    </div>
  </div>
</div>