<main>
  <app-header></app-header>
  <section class="header-section">
    <div class="title">
      <h2>Sobre Nós</h2>
      <p>Conheça mais sobre o SAAE São João do Soter</p>
    </div>
  </section>
  <section class="about-section">
    <div class="about-content">

      <h2>Nossa História</h2>
      <p>
        <span>O Serviço Autônomo de Água e Esgoto de São João do Soter (SAAE)</span> é uma
        entidade pública responsável pela gestão dos serviços de abastecimento
        de água e saneamento básico no município de São João do Soter. <span> Fundado
          em 1961</span>, o SAAE tem como missão garantir o acesso à água potável e ao
        saneamento para toda a população, promovendo a saúde pública e a
        qualidade de vida dos cidadãos.
      </p>
      <p>
        Com uma <span> equipe dedicada e infraestrutura moderna</span>, o SAAE trabalha
        continuamente para ampliar a cobertura dos serviços, melhorar a
        eficiência operacional e implementar <span> projetos sustentáveis que visam a
          preservação dos recursos hídricos e o meio ambiente.</span>
      </p>


    </div>
    <div class="img">
      <img src="" alt="">
    </div>
  </section>

  <section class="infrastructure-section">
    <h2>Nossa Infraestrutura</h2>
    <div class="cards">
      <div class="card">
        <div class="bg-icon bg-blue">
          <span class="material-symbols-outlined thin-icon">water_ph</span>
        </div>
        <h3>120</h3>
        <p>Poços Artesianos</p>
        <span class="spam-text">57 na zona urbana e 45 na zona rural</span>
      </div>
      <div class="card">
        <div class="bg-icon bg-green">
          <span class="material-symbols-outlined thin-icon">dew_point</span>
        </div>
        <h3>1</h3>
        <p>Estações de Tratamento</p>
        <span class="spam-text">Localizadas nos bairros Ponte e Volta Redonda</span>
      </div>
      <div class="card">
        <div class="bg-icon bg-orange">
          <span class="material-symbols-outlined thin-icon">acute</span>
        </div>
        <h3>24h</h3>
        <p>Monitoramento</p>
        <span class="spam-text">Equipe qualificada trabalhando ininterruptamente</span>
      </div>
      <div class="card">
        <div class="bg-icon bg-red">
          <span class="material-symbols-outlined thin-icon">group_add</span>
        </div>
        <h3>63</h3>
        <p>Anos de Serviço</p>
        <span class="spam-text">Desde 1961 servindo a população caxiense</span>
      </div>
    </div>
  </section>

  <section class="differential-section">
    <h3>Nosso Compromisso</h3>
    <div class="cards-section">

      <div class="card">
        <span class="material-symbols-outlined thin-icon">group</span>
        <h2>Equipe Qualificada</h2>
        <p>Químicos, laboratoristas, operadores de sistema hidráulico, coletadores e repositores trabalhando com
          excelência.</p>
      </div>
      <div class="card">
        <span class="material-symbols-outlined thin-icon">license</span>
        <h2>Experiência Comprovada</h2>
        <p>Mais de 6 décadas de experiência em gestão pública de saneamento básico no Maranhão</p>
      </div>
      <div class="card">
        <span class="material-symbols-outlined thin-icon">target</span>
        <h2>Foco em Resultados</h2>
        <p>Compromisso com metas claras e indicadores de qualidade para garantir a satisfação da população.</p>
      </div>
      <div class="card">
        <span class="material-symbols-outlined thin-icon">recommend</span>
        <h2>Compromisso Social</h2>
        <p>Dedicação integral ao bem-estar e qualidade de vida dos cidadãos caxienses.</p>
      </div>
    </div>

  </section>
  <app-footer></app-footer>

</main>