<main>
  <app-header></app-header>
  <section class="header-section">
    <div class="title">
      <h2>Sobre Nós</h2>
      <p>Conheça mais sobre o SAAE São João do Soter</p>
    </div>
  </section>
  <section class="about-section">
    <div class="about-content">

      <h2>Nossa História</h2>
      <p>
        <span>O Serviço Autônomo de Água e Esgoto de São João do Soter (SAAE)</span> é uma
        entidade pública responsável pela gestão dos serviços de abastecimento
        de água e saneamento básico no município de São João do Soter. <span> Fundado
          em 1961</span>, o SAAE tem como missão garantir o acesso à água potável e ao
        saneamento para toda a população, promovendo a saúde pública e a
        qualidade de vida dos cidadãos.
      </p>
      <p>
        Com uma <span> equipe dedicada e infraestrutura moderna</span>, o SAAE trabalha
        continuamente para ampliar a cobertura dos serviços, melhorar a
        eficiência operacional e implementar <span> projetos sustentáveis que visam a
          preservação dos recursos hídricos e o meio ambiente.</span>
      </p>
      <p>
        O SAAE também se compromete com a transparência e a participação social,
        mantendo canais abertos para o diálogo com a comunidade e promovendo
        campanhas educativas sobre o uso consciente da água e a importância do
        saneamento básico.
      </p>
      <p>
        Ao longo dos anos, o SAAE tem se destacado como uma referência na gestão
        dos serviços públicos de água e esgoto, contribuindo para o desenvolvimento
        sustentável de São João do Soter e para o bem-estar de seus habitantes.
      </p>
    </div>
    <div class="img">
      <img src="" alt="">
    </div>
  </section>

  <section class="infrastructure-section">
    <h2>Nossa Infraestrutura</h2>
    <div class="cards">
      <div class="card">
        <span class="material-symbols-outlined thin-icon">water_ph</span>
        <h3>120</h3>
        <p>Poços Artesianos</p>
        <span>57 na zona urbana e 45 na zona rural</span>
      </div>
      <div class="card">
        <span class="material-symbols-outlined thin-icon">dew_point</span>
        <h3>1</h3>
        <p>Estações de Tratamento</p>
        <span>Localizadas nos bairros Ponte e Volta Redonda</span>
      </div>
      <div class="card">
        <span class="material-symbols-outlined thin-icon">acute</span>
        <h3>24h</h3>
        <p>Monitoramento</p>
        <span>Equipe qualificada trabalhando ininterruptamente</span>
      </div>
      <div class="card">
        <span class="material-symbols-outlined thin-icon">group_add</span>
        <h3>63</h3>
        <p>Anos de Serviço</p>
        <span>Desde 1961 servindo a população caxiense</span>
      </div>
    </div>
  </section>
  <app-footer></app-footer>

</main>