@import "../../../color-variables.scss";

.custom-select {
  position: relative;
  width: 320px;
  /* Largura fixa */
  // ocupa todo o espaço do container
  font-family: Arial;


  .selected {
    width: auto;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid $gray-300;
    background: $white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .arrow {
      font-size: 0.8rem;
      margin-left: 0.5rem;
    }
  }

  .options {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    right: 0;
    border: 1px solid $gray-300;
    border-radius: 12px;
    background: $white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;

    .option {
      padding: 10px 15px;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background: $blue-100;
      }

      &.selected {
        background: $primary-blue;
        color: $white;
      }
    }
  }
}