@import "../../../color-variables.scss";

main {
  width: 100%;
  height: 100vh;

  .header-section {
    text-align: center;
    background: -webkit-linear-gradient(250deg, $primary-blue, $light-green);
    margin-top: 6rem;
    padding: 2rem 1rem;

    .title {
      background: -webkit-linear-gradient(250deg, $light-green, $gray-100);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h2 {
      font-size: 36px;
      font-weight: bold;
    }

    p {
      font-size: 18px;
      color: #666;
    }
  }

  .digital-services {
    padding: 50px 20px;
    text-align: center; // centraliza o h2 e p
    background: $white;

    .digital-services-title {
      display: flex;
      flex-direction: column;
      gap: 1rem;


      h2 {
        font-size: 2.5rem;
        color: $gray-700;
      }

      p {
        font-size: 1.5rem;
        color: #555;
        margin-bottom: 2rem;

      }
    }

    >div {
      // container dos service-item
      display: flex;
      flex-wrap: wrap; // permite quebrar linha em telas menores
      justify-content: center;
      gap: 20px; // espaçamento entre os cards

      .service-item {

        padding: 20px;
        border-radius: 10px;
        width: 220px; // largura fixa dos cards
        text-align: center;
        transition: transform 0.3s;

        &:hover {
          transform: translateY(-5px);
        }

        &.green-card {
          background: $green-100;
          border: $green-400 1px solid;
        }

        &.blue-card {
          background: #D0EBFF;
          border: $primary-blue 1px solid;
        }

        &.orange-card {
          background: $orange-300;
          border: $orange-500 1px solid;
        }

        &.red-card {
          background: $red-300;
          border: $red-500 1px solid;
        }


        a {
          text-decoration: none;
          color: inherit;

          .material-icons {
            font-size: 40px;
            margin-bottom: 10px;
            display: block;
          }

          .icon-green {
            color: $green-400;
          }

          .icon-blue {
            color: $primary-blue;
          }

          .icon-orange {
            color: $orange-500;
          }

          .icon-red {
            color: $red-500;
          }

          h3 {
            margin: 10px 0 5px;
            font-size: 1.2rem;
          }

          .green-card-h3 {
            color: $green-400;
          }

          .blue-card-h3 {
            color: $primary-blue;
          }

          .orange-card-h3 {
            color: $orange-500;
          }

          .red-card-h3 {
            color: $red-500;
          }

          p {
            font-size: 0.95rem;
            font-weight: 400;

          }

          .green-card-p {
            color: $gren-300;
          }

          .blue-card-p {
            color: $medium-blue
          }

          .orange-card-p {
            color: $orange-400
          }

          .red-card-p {
            color: $red-400
          }
        }
      }
    }

    // Responsivo
    @media (max-width: 768px) {
      >div {

        flex-direction: column;
        align-items: center;
      }
    }
  }

  .info-section {
    padding: 50px 20px;
    //background: $gray-100;
    text-align: center;

    h2 {
      font-size: 2rem;
      color: $gray-700;
      margin-bottom: 1rem;
    }

    .info-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      margin-top: 2rem;

      .info-card {
        background: $white;
        border-radius: 10px;
        padding: 20px;
        //width: 300px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;

        &:hover {
          transform: translateY(-5px);
        }

        h3 {
          font-size: 1.5rem;
          color: $gray-800;
          margin-bottom: 10px;
        }

        ul {
          list-style-type: disc;
          padding-left: 20px;
          text-align: left;

          li {
            margin-bottom: 8px;
            font-size: 1rem;
            color: $gray-600;
            list-style-type: none;
            display: flex;
            text-align: start;
            align-items: center;
            gap: 10px;

            .thin-icon {
              font-size: 1.5rem;
              color: $primary-blue;
            }

            span {
              font-size: 0.8rem;
              font-weight: 300;
              color: $gray-600;
            }
          }


        }
      }

    }

  }
}